body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande";
}

.content {
  margin: 0 auto;
  text-align: center;
  background-image: url(https://images.alphacoders.com/453/453086.jpg);
  background-size: cover;
  padding: 180px 0 90px 0;
  color: #eee;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

.navbar ul li a {
  text-decoration: none;
  color: #eee;
}

.Home {
  text-decoration: none;
  color: #eee;
  font-weight: bold;
}

.container {
  height: 65px;
  width: 100%;
  background-color: rgba(33, 13, 71, 0.9);
  /* Ubah position ke fixed, dan top ke 0 */
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 90px;
  height: 60px;
}

.header-left {
  float: left;
}

.header {
  margin: 10px 0;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: solid;
}

#button {
  margin: 20px 0;
  background-color: #c52ab0;
  padding: 12px 24px;
  color: white;
  display: inline-block;
  border-style: none;
  border-radius: 6px;
  font-size: 15px;
  transition: all 0.5s;
}

#button:hover {
  background-color: #d192c9;
}

h2 {
  margin: 30px 0 10px 0;
  font-size: 20px;
  font-weight: normal;
}

p {
  font-size: 15px;
}

#result {
  border-bottom: 1px solid #eee;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
}

/* Responsive Breakpoint */

@media screen and (max-width: 768px) {
  .navbar ul {
    width: 50%;
  }
}
